* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  background: #F8F9FA;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #F5F5F5;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search {
  width: 50%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
 flex:1;
  width: 40px;
  background:  #00CED1;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.box:hover {
  transform: translateY(-5px);
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

tr:last-child td {
  border-bottom: none;
}

.answer,
.view {
  padding: 10px 18px;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.answer {
  background: #00b894;
  color: #fff;
}

.answer:hover {
  background: #019875;
}

.view {
  background: #d21013;
  color: #fff;
}

.view:hover {
  background: #a3090c;
}

img {
  height: 40px;
  width: 60px;
}
